/* Billy Longeill - Created originally for https://store.columns.com, (pw columns) */

/* body breakpoints: 1200, 991
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 991px){} */

/* 
bootstrap breakpoints: 
sm 576
md 768
lg 992
xl 1200
*/


/*
light blue (This isn't a callable color): #749fd7;
$blue: #3976c6;
$red: #992211;
$yellow: #a37c1f;
$white: #f1f3f9;
$gray-100: #e3e5eb;
$gray-200: #c4c6cc;
$gray-300: #a6a8ae;
$gray-400: #8a8c91;
$gray-500: #6e7076;
$gray-600: #53555b;
$gray-700: #3a3c41;
$gray-800: #222429;
$gray-900: #090c13;
$black: #00010c;
*/

/*heading adjustment*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Forum', serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

/*bibliography page's book titles have no separate styling*/
div#biblio ul li cite{
	text-decoration:underline;
}

/*.table-info's text is too light, fix*/
table.table.table-info tr,
table.table.table-info td,
table.table.table-info th{
	color:#3a3c41 !important;
}

/*remove bottom border from rounded tables*/
table.table.rounded tr:last-of-type td{
	border-bottom:none!important;
}

/*background color for whole site*/
body{
	background-color:#f1f3f9 !important;
}

/* get rid of border below main navigation */
#shopify-section-header div div#main-nav.nav-row{
	border: none;
}

/*font color*/
p, div, table, td, tr, th, dd {
	font-family: 'Taviraj' !important;
	font-weight:300 !important;
  color:#222429;
}

/*set parent container width and alignment*/
.product-description-container{
	width:100%;
	max-width:1000px;
}

/*bold items too wide, set to 500*/
strong{
	font-weight: 500 !important;
}

/*make the title in the list items more subdued (see bolded items under Dimensions headers on column pages)*/
li strong{
	color:#3a3c41;
}

/*cards that are small and simple, a header, image, button, paragraph, things like that. add more classes as needed.*/
div.newel-posts{
	width:100%;
	max-width:500px;
}

/*small product summary at the beginning of each (or most) of the products*/
div.product-summary{
	width:100%;
	max-width:400px;
}

/*makes table child elements centered when .text-center class is applied to table.*/
.text-center caption,
.text-center col,
.text-center colgroup,
.text-center thead,
.text-center tfoot,
.text-center tr,
.text-center tr > td,
.text-center tr > th{
	text-align: center!important;
}

/*th & td won't .align-middle as child elements, this is a fix*/
.align-middle th,
.align-middle td{
	vertical-align:middle;
}

/*.bg-light & table-light will automatically have dark fonts and light gray borders
	both have slightly different bg-color so I chaned their respective border colors.*/
.bg-light tr,.bg-light thead,.bg-light th,.bg-light tbody,.bg-light td,.bg-light tfoot,
.bg-light colgroup,.bg-light col,.bg-light caption,.bg-light p,.bg-light h1,.bg-light h2,
.bg-light h3,.bg-light h4,.bg-light h5,.bg-light h6{
	color:#8a8c91;
}
table.table-light,.table-light tr,.table-light thead,.table-light th,.table-light tbody,.table-light td,
.table-light tfoot,.table-light colgroup,.table-light col,.table-light caption,.table-light p,.table-light h1,
.table-light h2,.table-light h3,.table-light h4,.table-light h5,.table-light h6{
	color:#8a8c91;
}
.thead-light th{
	background-color:rgba(227,229,235,0.06);
}

/* FAQ page */
div#faq .question{
		font-weight: 500 !important;
		margin-bottom: 0rem;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.03);
		padding: .25rem .25rem .125rem .25rem;
		border-radius: .25rem .25rem 0 0;
	}
div#faq .answer{
		background-color: rgba(0,0,0,0.01);
		margin-top: 0rem;
		margin-bottom: 1.25rem;
		padding: .125rem .25rem .25rem .25rem;
		border-radius: 0 0 .25rem .25rem;
	}
div#faq a p.btt{
		margin-top: -1rem;
		margin-bottom: 2rem;
	}
div#faq div.faq-product-type{
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

/*fix - default bs4 class .table-borderless still displays borders*/
.table-borderless table,.table-borderless tr,.table-borderless thead,.table-borderless th,.table-borderless tbody,
.table-borderless td,.table-borderless tfoot,.table-borderless colgroup,.table-borderless col,
.table-borderless caption{
	/*border-top:none !important;*/
	border:none !important;
}

/*remove margins on headings in tables*/
td h1,td h2,td h3,td h4,td h5,td h6,th h1,th h2,th h3,th h4,th h5,th h6{
	margin:0.2rem 0 !important;
}

/*adds padding to each td and th in a tr with this class: .tr-pb-2 ... i'll forget this exists*/
.tr-pb-2 tr,
.tr-pb-2 td{
	padding-bottom: .3rem !important;
}

/* Chadsworth Logo wasn't showing up as Forum */
.chadsworth-logo a span.logotext{
	font-family: 'Forum', serif !important;
}



/*classes to use other background colors*/
.bg-gray-100{background-color:#090c13 !important;}
.bg-gray-200{background-color:#222429 !important;}
.bg-gray-300{background-color:#3a3c41 !important;}
.bg-gray-400{background-color:#53555b !important;}
.bg-gray-500{background-color:#6e7076 !important;}
.bg-gray-600{background-color:#8a8c91 !important;}
.bg-gray-700{background-color:#a6a8ae !important;}
.bg-gray-800{background-color:#c4c6cc !important;}
.bg-gray-900{background-color:#e3e5eb !important;}
.bg-white{background-color:#f1f3f9 !important;}
.bg-black{background-color:#00010c !important;}

/*classes to use other text colors*/
.text-gray-100{color:#090c13 !important;}
.text-gray-200{color:#222429 !important;}
.text-gray-300{color:#3a3c41 !important;}
.text-gray-400{color:#53555b !important;}
.text-gray-500{color:#6e7076 !important;}
.text-gray-600{color:#8a8c91 !important;}
.text-gray-700{color:#a6a8ae !important;}
.text-gray-800{color:#c4c6cc !important;}
.text-gray-900{color:#e3e5eb !important;}
.text-white{color:#f1f3f9 !important;}
.text-black{color:#00010c !important;}

/*img in div shouldn't stretch beyond the div*/
div>img{
	max-width:100%;
}

/*experimental to vertically align labels on swatch colors (Textured and Colored Finished on product 44056)*/
.swatch-color-div{
  display: table-cell;
  width:500px !important;
  max-width:100%;
  vertical-align:middle;
  text-align:center;
  height: 50px;
}

/*This keeps images inside baluster-dwg divs equal in height to one-another. They all vary in height and without this they look bad sitting side-by-side.*/
div.baluster-dwg div div a img{
	max-height:358px;
}

/*fix breadcrumb padding*/
nav#uncomplicated-breadcrumbs.breadcrumb{
	padding:.75rem .1rem .1rem .75rem;
	margin:0;
}









/*Styling for specific static pages*/
/*Styling for specific static pages*/
/*Styling for specific static pages*/

/*chadsworth logo*/
h1.logo span.logotext{font-size:30px;letter-spacing:0.05em;font-weight:400!important;margin-bottom:15px!important;display:block!important;font-style:normal!important;}

/*ethics page*/
/*headers*/
main.ethics div.ethics-div *{
	margin: .3rem 0 !important;
	list-style-position:inside;
	line-height:1.3;
}
main.ethics div.ethics-div h3.values-h3{font-size:1.1rem;color:#3976c6;font-style:normal!important;text-decoration:underline;padding-bottom:0px;}
main.ethics div.ethics-div{margin:2rem 1rem;}
main.ethics div.ethics-div ul li{margin:.1rem;}
main.ethics div.ethics-div h2{font-size:1.5rem;color:#3976c8;}
main.ethics div.ethics-div h3{font-size:1.1rem;color:#090c13;font-style:normal!important;text-decoration:underline;padding-bottom:4px;}
main.ethics div.ethics-div h4{font-size:1.05rem;color:#3976c6;}
main.ethics div.ethics-div h5{font-size:1rem;}
main.ethics div.ethics-div h6{font-size:1rem;}

/*.doc is a class I use for document-style pages. (terms and conditions, warranty, etc)*/
div.doc.doc-doc{
	max-width:1000px;
	margin:auto;
	background-color:white;
	padding: 20px 4%;
	box-shadow:rgba(0,0,0,0.1) 5px 5px 3px;
	border: 1px rgba(0,0,0,0.1) solid;
}
div.doc .doc-head{text-align:center!important;}
div.doc .doc-head span.logotext{font-size:30px;letter-spacing:0.05em;font-weight:400!important;margin-bottom:15px!important;display:block!important;}
div.doc p,
div.doc h1,
div.doc h2,
div.doc h3,
div.doc h4,
div.doc h5,
div.doc h6,
div.doc table,
div.doc tr,
div.doc td,
div.doc th,
div.doc li{
	color:black !important;
	border-color:#e3e5eb !important;
}
div.doc .doc-centered{
	margin:auto!important;
	text-align:center!important;
}
div.doc td,
div.doc th{
	padding:1px;
	vertical-align:middle!important;
}
div.doc p,
div.doc table,
div.doc tr,
div.doc td,
div.doc th,
div.doc li{
	font-size: 15px;
	font-weight:300!important;
}
div.doc h1{font-size:21px;font-style:normal!important;font-weight:400!important;margin-top:24px;margin-bottom:5px;}
div.doc h2{font-size:19px;font-style:normal!important;font-weight:400!important;margin-top:24px;margin-bottom:5px;text-decoration:underline;}
div.doc h3{font-size:18px;font-style:normal!important;font-weight:400!important;margin-top:24px;margin-bottom:5px;text-decoration:underline;}
div.doc h4{font-size:17px;margin-top:24px;margin-bottom:5px;font-weight:300!important;}
div.doc h4{font-size:16px;margin-top:24px;margin-bottom:5px;font-weight:300!important;}
div.doc h4{font-size:16px;margin-top:24px;margin-bottom:5px;font-weight:300!important;}

div.doc p,
div.doc h1,
div.doc h3,
div.doc h4,
div.doc table,
div.doc ul{

}

/* shopify policy container div is too narrow */
div.container.cf > div.shopify-policy__container{
	max-width: 1000px !important;
}

#warranty-heading{
	margin-bottom:5px;
}
#warranty-subheading{
	margin-top:8px;
}
div.doc #important{
	margin-bottom:10px!important;
}

/* a wrapper for entire pages of specs */
div.user-content div.spec-page table td,
div.user-content main.spec-page table td{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Resetting Symmetry's (Shopify theme our store uses) margins to add more flexibility in page layouts */
div.user-content div.spec-page *,
div.user-content main.spec-page *{
	margin: 0 auto;
}

/* rule above makes d-flex not work properly - COME BACK TO THIS. Still not working correctly. Example is /products/doric-order-roman-fireplace-solid-wood-column-fluted-tapered-shaft-roman-doric-capital-ionic-attic-base-molding-plinth, in the wood-species div, bottom row should have no margin between one-another*/
div.user-content div.spec-page div.row.d-flex,
div.user-content main.spec-page div.row.d-flex{
	margin: 0;
}

/*  */
div.user-content div.spec-page,
div.user-content main.spec-page{
	align-content: center;
	vertical-align: middle;
	text-align: center;
}

/* stylized Google map to better fit style of site */
#get-in-touch-map{
	filter: invert(85%) hue-rotate(180deg) saturate(45%);
	transition:.3s;
}

/* hovering Google map adds desaturation effect */
#get-in-touch-map:hover{
	filter:saturate(45%);
	transition:.3s;
}

/* completely black background - this is for photos from the old site to better fit the style of the new site */
.bg-000{
	background-color:#000;
}

/* set max width for table (to be used with table-responsive bootstrap div.) */
table.table-690{
	width: 100%;
	min-width: 690px;
}

/* drawings/photos of columns tend to be tall and skinny, add this class to make them more manageable */
.shorten-img{
	max-height: 390px;
}

/* this class is to make tables beside tall pictures line up correctly */
.table-by-img{
	height: 100%;
	min-height: 400px;
}

div.table-responsive{
	border-right: 1px solid rgba(0, 1, 7, 0.06);
}

ul.ul-none, ul.ul-none li{
	list-style-type: none;
	list-style-position: inside;
}

.small{
	font-size: 90% !important;
}


/* changes to aid transition from dark theme to white background theme below this line */
/* ___________________________________________________________________ */
/* plan shapes backgrounds are almost black now, changing to light gray */
div.user-content img.bg-gray-200{
	background-color: #e3e5eb !important;
}

/* bg-info divs are blue now, changing to white */
div.user-content .bg-info{
	background-color: #fff !important;
}

/* bg-gray-700 elements are now too dark, too numerous to fix*/
div.user-content .bg-gray-700{
	background-color: rgba(0, 0, 0, 0.05) !important;
}

@media all and (min-width: 767px) {
/* 	h2 {
		font-size: 4rem;
		letter-spacing: 0.65rem;
	} */
	div.logo a span.logotext{
		letter-spacing: 0.1rem;
	}
}

nav.breadcrumb{
	background-color: transparent;
}

div.logo a span.logotext{
	font-family: 'Forum', serif !important;
	text-transform: uppercase !important;
	letter-spacing: .35rem !important;
}

#mobile-header .logo>a{
	min-width: 185px !important;
}

div#main-nav ul li a,
div#main-nav ul li{
	font-family: 'Forum', serif !important;
	text-transform: uppercase !important;
	letter-spacing: .25rem !important;
	font-style: normal !important;
}

div.search-box.elegant-input div.social-links ul{
	display: none !important;
}

/* filters on the left of collection/product list pages */
.filter-group h4, .filter-group a, 
.filter-group div ul li div a{color:#3a3c41 !important}
.filter-group div ul li div a:hover{color:#749fd7!important;}
.filter-group div ul li div a:active{color:#53555b!important;font-weight:300!important;}
.filter-group div ul li {color:#8a8c91!important;}
.filter-group div ul li i{color:#8a8c91!important;}
.filter-group div ul li span{color:#6e7076!important;}

h6 a.btn.btn-primary.raq,
a.btn.btn-primary.raq{
	color: white !important;
}

div.cart-summary-overlay#cart-summary-overlay{
	background-color: #f1f3f9 !important;
}

div.user-content .text-warning{
	color: #dd9603 !important;
}

table#testimonial-table td blockquote footer{
	font-size:  80%;
	color: #53555b;
}
table#testimonial-table td blockquote,
table#testimonial-table td blockquote p{
	font-size: 90%;
}

.user-content blockquote::before,
.user-content .spec-page blockquote::before{
	vertical-align: -.3em;
}

.user-content blockquote::after,
.user-content .spec-page blockquote::after{
	color: #222429;
	content: close-quote;
	font-size: 3em;
	line-height: .1em;
	margin-right: -20px;
	margin-left: 0px;
	vertical-align: -.4em;
}

.card-cols .card{
	border: none;
	background-color: transparent;
	color: inherit;
}

/* .spec-page messes up the vertical layout of col divs. Need a new class to vertically and horizontally align text inside of divs. */
div.user-content div.testimonial-page,
div.user-content div.align-fix,
div.user-content .align-fix,
div.user-content div.spec-page .align-fix,
div.user-content div.spec-page div.align-fix{
	height: 100%;
	text-align: center !important;
	vertical-align: middle !important;
}

/* navigation styling */
div.user-content div#navigation a{
	color: rgba(0,0,0,0.5);
	font-size: 1.3rem;
	margin: 0.29rem;
}
div.user-content div#navigation a:hover,
div.user-content div#navigation a:active{
	color: rgba(0,0,0,0.8);
}

/* glossary styling */
.user-content dl dt,
.user-content dl dfn{
  font-family: 'Forum', serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: uppercase !important;
  font-size: 1.33rem !important;
}
.user-content dl h2{
	padding-left: 10px !important;
	border-left: #007bff solid 5px !important;
}
/* fixes bootstrap buttons not using caps lock */
.user-content button, .user-content select{
	text-transform: uppercase;
}

.user-content p.indent{
	text-indent: 5% !important;
	text-align: left !important;
}

.multi-level-nav .tier-1 li,
.multi-level-nav .tier-1 li a{
	font-size: 115%;
	/* padding-top: 5px; */
}

div#shopify-section-header .tier-1 li a:hover,
.multi-level-nav .tier-1 li:hover,
.multi-level-nav .tier-1 li a:hover,
div#shopify-section-header a:hover,
div#pagefooter div#shopify-section-cross-page-promos a:hover,
#pagefooter .cross-page-promos, #pagefooter .cross-page-promos a, #pagefooter .cross-page-promos h6:hover,
div#shopify-section-footer a:hover{
	text-decoration: none!important;
	color: #777!important;
}

#shopify-section-header #main-nav .multi-level-nav div.tier-1{
	background-color: rgba(0,0,0,0)!important;
}

@media only screen and (max-width: 1020px){
	#pageheader .search-box, #pageheader .utils {
		margin: 0!important;
	}
}

/* keep collections on front page 4-wide maximum */
#shopify-section-1598448820235 > div > div > div > div{
	max-width: 1200px !important;
	margin: auto !important;
}

/* Power Tools (Shopify App) Styling for User Sort Selector */
.pt-sort-selector {
    float: right;
}

.pt-sort-selector select {
    display: inline;
    margin-left: 5px;
}

.pt-sort-selector label {
    display: inline;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

/* semi-transparent background color class */
.bg-st{
		background-color:rgba(0, 0, 0, 0.05) !important;
}

/* When selecting an item on a Collection page, the product info expands/accordions downward and covers the filter menu */
/* this changes the z-index of the filter to be above the product info accordion, and adjusts the padding/background color to match site */
div.filter-menu div.filter-group{
	margin: 0px 0px;
	padding: 10px 5px;
	z-index: inherit;
	background-color: #f1f3f9;
}
div.filter-menu{
	z-index: 1002;
	background-color: #f1f3f9;
}


/* Images in description of Collections/Landing pages aren't sized and padded correctly. */
div.main-landing-description img.landing-img-horizontal{
	width: 35%;
	padding: 1rem;
	border-radius: 1.15rem !important;
	float: left;
}
div.main-landing-description img.landing-img-vertical{

}

@media only screen and (max-width: 1200px){
div.main-landing-description img.landing-img-horizontal{
	border-radius: 1.15rem !important;
	float: left;
}div.main-landing-description img.landing-img-vertical{

}
}

@media only screen and (max-width: 991px){
div.main-landing-description img.landing-img-horizontal{
	width: 75% !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1rem !important;
	float: none;
}
div.main-landing-description img.landing-img-vertical{

}
}

/* breakpoint text sizing (originally set up for collections landing pages) */

/* bootstrap breakpoints */

@media only screen and (max-width: 576){.bp-landing{font-size:1.1rem;}}
@media only screen and (max-width: 768){.bp-landing{font-size:1.1rem;}}
@media only screen and (max-width: 992){.bp-landing{font-size:1.1rem;}}
@media only screen and (max-width: 1200){.bp-landing{font-size:1.1rem;}}
